flows.json
[{"id":"5f8c31d3.ce703","type":"tab","label":"NAC4","disabled":false,"info":""},{"id":"2f2a65f7.3039fa","type":"change","z":"5f8c31d3.ce703","name":"set.msg.luminosidade","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.luminosidade","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":260,"wires":[["2fa631bd.3cee9e"]],"icon":"font-awesome/fa-filter"},{"id":"537317a7.60d108","type":"change","z":"5f8c31d3.ce703","name":"set.msg.temperatura","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.temperatura","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":380,"wires":[["8dfd99b4.12cca8"]],"icon":"font-awesome/fa-filter"},{"id":"3127649b.cb2a7c","type":"json","z":"5f8c31d3.ce703","name":"","property":"payload","action":"","pretty":false,"x":250,"y":400,"wires":[[]]},{"id":"116622e7.535bcd","type":"json","z":"5f8c31d3.ce703","name":"","property":"payload","action":"","pretty":false,"x":250,"y":400,"wires":[["537317a7.60d108","2f2a65f7.3039fa","28404c10.d9f444","7c6d9a8b.1b6424"]]},{"id":"28404c10.d9f444","type":"change","z":"5f8c31d3.ce703","name":"set.msg.vento","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.vento","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":480,"wires":[["b13dda27.1b0838"]],"icon":"font-awesome/fa-filter"},{"id":"7c6d9a8b.1b6424","type":"change","z":"5f8c31d3.ce703","name":"set.msg.tweet","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.alerta","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":580,"wires":[["96548812.080548"]],"icon":"font-awesome/fa-filter"},{"id":"8dfd99b4.12cca8","type":"mqtt out","z":"5f8c31d3.ce703","name":"","topic":"tdsf/gvm/nac/sensor/temperatura","qos":"0","retain":"","broker":"f3188191.290a8","x":840,"y":380,"wires":[]},{"id":"2fa631bd.3cee9e","type":"mqtt out","z":"5f8c31d3.ce703","name":"","topic":"tdsf/gvm/nac/sensor/lumin","qos":"0","retain":"","broker":"f3188191.290a8","x":810,"y":260,"wires":[]},{"id":"b13dda27.1b0838","type":"mqtt out","z":"5f8c31d3.ce703","name":"","topic":"tdsf/gvm/nac/sensor/vento","qos":"0","retain":"","broker":"f3188191.290a8","x":810,"y":480,"wires":[]},{"id":"96548812.080548","type":"mqtt out","z":"5f8c31d3.ce703","name":"","topic":"tdsf/gvm/nac/sensor/twitter","qos":"0","retain":"","broker":"f3188191.290a8","x":820,"y":580,"wires":[]},{"id":"4b65f6d8.ce08f8","type":"mqtt in","z":"5f8c31d3.ce703","name":"","topic":"tdsf/gvm/nac/sensor/twitter","qos":"2","datatype":"auto","broker":"f3188191.290a8","x":530,"y":860,"wires":[["405d0370.1f43ac"]]},{"id":"21f865fa.70f30a","type":"mqtt in","z":"5f8c31d3.ce703","name":"","topic":"tdsf/gvm/nac/sensor/lumin","qos":"2","datatype":"auto","broker":"f3188191.290a8","x":530,"y":800,"wires":[["1a57ec7c.4b3fb4"]]},{"id":"805f31d6.04d03","type":"mqtt in","z":"5f8c31d3.ce703","name":"","topic":"tdsf/gvm/nac/sensor/temperatura","qos":"2","datatype":"auto","broker":"f3188191.290a8","x":550,"y":740,"wires":[["d1c21e0a.2702b"]]},{"id":"2701370e.256668","type":"mqtt in","z":"5f8c31d3.ce703","name":"","topic":"tdsf/gvm/nac/sensor/vento","qos":"2","datatype":"auto","broker":"f3188191.290a8","x":530,"y":680,"wires":[["d5cdec3c.db291"]]},{"id":"9cdac877.6c5f48","type":"comment","z":"5f8c31d3.ce703","name":"Envia MQTT da Luminosidade","info":"","x":1040,"y":800,"wires":[]},{"id":"1d5ef94d.ed58f7","type":"comment","z":"5f8c31d3.ce703","name":"Envia MQTT da Temperatura","info":"","x":1040,"y":740,"wires":[]},{"id":"7d3a57f9.ff11a8","type":"comment","z":"5f8c31d3.ce703","name":"Envia MQTT do Vento","info":"","x":1020,"y":680,"wires":[]},{"id":"8070cfc0.a831e","type":"comment","z":"5f8c31d3.ce703","name":"Envia MQTT do Twitter","info":"","x":1400,"y":860,"wires":[]},{"id":"77826716.1980e8","type":"comment","z":"5f8c31d3.ce703","name":"COM5","info":"","x":90,"y":360,"wires":[]},{"id":"405d0370.1f43ac","type":"function","z":"5f8c31d3.ce703","name":"publica_twitter","func":"msg.payload = \"O vento está a mais de 80km/h, tome cuidado.\";\nreturn msg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":820,"y":860,"wires":[["90042792.caf6d8"]]},{"id":"94bf6f47.2b621","type":"comment","z":"5f8c31d3.ce703","name":"Recebe MQTT da Luminosidade","info":"","x":1130,"y":260,"wires":[]},{"id":"e6dfb464.948478","type":"comment","z":"5f8c31d3.ce703","name":"Recebe MQTT da Temperatura","info":"","x":1130,"y":380,"wires":[]},{"id":"23193ca3.d0a3d4","type":"comment","z":"5f8c31d3.ce703","name":"Recebe MQTT do Vento","info":"","x":1110,"y":480,"wires":[]},{"id":"f6272a67.cd5968","type":"comment","z":"5f8c31d3.ce703","name":"Recebe MQTT do Twitter","info":"","x":1110,"y":580,"wires":[]},{"id":"d1c21e0a.2702b","type":"ui_gauge","z":"5f8c31d3.ce703","name":"","group":"69481dd6.fd0184","order":6,"width":"4","height":"4","gtype":"gage","title":"Temperatura","label":"°C","format":"{{value}}","min":"20","max":"45","colors":["#ffee00","#ffee00","#ffee00"],"seg1":"30","seg2":"40","x":810,"y":740,"wires":[]},{"id":"1a57ec7c.4b3fb4","type":"ui_gauge","z":"5f8c31d3.ce703","name":"","group":"69481dd6.fd0184","order":6,"width":"4","height":"4","gtype":"gage","title":"Luminosidade","label":"lux","format":"{{value}}","min":"1","max":"999","colors":["#0000ff","#0000ff","#0000ff"],"seg1":"33","seg2":"38","x":820,"y":800,"wires":[]},{"id":"d5cdec3c.db291","type":"ui_gauge","z":"5f8c31d3.ce703","name":"","group":"69481dd6.fd0184","order":6,"width":"4","height":"4","gtype":"gage","title":"Vento","label":"Km/h","format":"{{value }}","min":"0","max":"80","colors":["#00ff11","#00ff11","#00ff11"],"seg1":"","seg2":"","x":790,"y":680,"wires":[]},{"id":"9c4058d.b3005a8","type":"twitter out","z":"5f8c31d3.ce703","twitter":"","name":"Tweet","x":1230,"y":860,"wires":[]},{"id":"50ed731a.78fbdc","type":"serial in","z":"5f8c31d3.ce703","name":"Circuito","serial":"f464ff51.4f65d","x":90,"y":400,"wires":[["3127649b.cb2a7c","116622e7.535bcd"]],"outputLabels":["Circuito"],"icon":"node-red/arduino.png"},{"id":"90042792.caf6d8","type":"cloudantplus in","z":"5f8c31d3.ce703","name":"Cloudent_database","cloudant":"f97b4ca8.7ffb7","database":"cloudant_twitter_database","service":"_ext_","search":"_all_","design":"","index":"","x":1030,"y":860,"wires":[["9c4058d.b3005a8"]]},{"id":"21210fc4.6f552","type":"inject","z":"5f8c31d3.ce703","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":500,"y":1040,"wires":[["44a563.c366aa9c"]]},{"id":"44a563.c366aa9c","type":"cloudantplus out","z":"5f8c31d3.ce703","name":"Cloudant_out","cloudant":"f97b4ca8.7ffb7","database":"cloudant_twitter_database","service":"_ext_","payonly":false,"operation":"insert","x":730,"y":1040,"wires":[["55c944ea.0434ac"]]},{"id":"55c944ea.0434ac","type":"debug","z":"5f8c31d3.ce703","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":980,"y":1040,"wires":[]},{"id":"f3188191.290a8","type":"mqtt-broker","name":"Servidor-MTQQ","broker":"broker.hivemq.com​","port":"1883","clientid":"clientId-xxbcdY45iB","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"oi joao","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"69481dd6.fd0184","type":"ui_group","name":"Sensores","tab":"fd8491d.339287","order":1,"disp":true,"width":"15","collapse":false},{"id":"f464ff51.4f65d","type":"serial-port","serialport":"COM5","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"f97b4ca8.7ffb7","type":"cloudantplus","host":"https://apikey-v2-255dnrzma5iy34ij3hbww2178btkuzkhxbmlnpor7ak0:bf1e4497bb27838a856a37fab5ca8d13@3f049405-171f-41b0-b02f-38b029032993-bluemix.cloudantnosqldb.appdomain.cloud","name":"cloudant_database"},{"id":"fd8491d.339287","type":"ui_tab","name":"NAC4","icon":"dashboard","disabled":false,"hidden":false}]