flows.json
[{"id":"28078f97.ee187","type":"tab","label":"NAC4","disabled":false,"info":""},{"id":"54c79476.85809c","type":"serial in","z":"28078f97.ee187","name":"Circuito","serial":"f464ff51.4f65d","x":90,"y":400,"wires":[["52c2b3c3.6f9d9c","7e2ee0fd.814eb"]],"outputLabels":["Circuito"],"icon":"node-red/arduino.png"},{"id":"e13037e7.d413d8","type":"change","z":"28078f97.ee187","name":"set.msg.luminosidade","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.luminosidade","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":260,"wires":[["43246aff.7a7874"]],"icon":"font-awesome/fa-filter"},{"id":"5293edcf.759544","type":"change","z":"28078f97.ee187","name":"set.msg.temperatura","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.temperatura","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":380,"wires":[["d16ee595.551458"]],"icon":"font-awesome/fa-filter"},{"id":"52c2b3c3.6f9d9c","type":"json","z":"28078f97.ee187","name":"","property":"payload","action":"","pretty":false,"x":250,"y":400,"wires":[[]]},{"id":"7e2ee0fd.814eb","type":"json","z":"28078f97.ee187","name":"","property":"payload","action":"","pretty":false,"x":250,"y":400,"wires":[["5293edcf.759544","e13037e7.d413d8","a45555ab.3a3d98","3c0c25c4.ea667a","df90f603.47a1b8"]]},{"id":"b700250.2d1e2d8","type":"ui_gauge","z":"28078f97.ee187","name":"","group":"69481dd6.fd0184","order":6,"width":"4","height":"4","gtype":"gage","title":"Temperatura","label":"°C","format":"{{value}}","min":"20","max":"45","colors":["#ffee00","#ffee00","#ffee00"],"seg1":"30","seg2":"40","x":770,"y":820,"wires":[]},{"id":"7a4a261e.afb1d8","type":"ui_gauge","z":"28078f97.ee187","name":"","group":"69481dd6.fd0184","order":6,"width":"4","height":"4","gtype":"gage","title":"Luminosidade","label":"lux","format":"{{value}}","min":"1","max":"999","colors":["#0000ff","#0000ff","#0000ff"],"seg1":"33","seg2":"38","x":780,"y":880,"wires":[]},{"id":"a45555ab.3a3d98","type":"change","z":"28078f97.ee187","name":"set.msg.vento","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.vento","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":480,"wires":[["d4045dda.ef043"]],"icon":"font-awesome/fa-filter"},{"id":"3c0c25c4.ea667a","type":"change","z":"28078f97.ee187","name":"set.msg.tweet","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.alerta","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":580,"wires":[["3e4e5d53.9df542"]],"icon":"font-awesome/fa-filter"},{"id":"591cdb83.32b2b4","type":"ui_gauge","z":"28078f97.ee187","name":"","group":"69481dd6.fd0184","order":6,"width":"4","height":"4","gtype":"gage","title":"Vento","label":"Km/h","format":"{{value }}","min":"0","max":"80","colors":["#00ff11","#00ff11","#00ff11"],"seg1":"","seg2":"","x":750,"y":760,"wires":[]},{"id":"e7747aa4.c894b8","type":"twitter out","z":"28078f97.ee187","d":true,"twitter":"","name":"Tweet","x":930,"y":940,"wires":[]},{"id":"d16ee595.551458","type":"mqtt out","z":"28078f97.ee187","name":"","topic":"tdsf/gvm/nac/sensor/temperatura","qos":"0","retain":"","broker":"462d08fc.d270d8","x":840,"y":380,"wires":[]},{"id":"43246aff.7a7874","type":"mqtt out","z":"28078f97.ee187","name":"","topic":"tdsf/gvm/nac/sensor/lumin","qos":"0","retain":"","broker":"462d08fc.d270d8","x":810,"y":260,"wires":[]},{"id":"d4045dda.ef043","type":"mqtt out","z":"28078f97.ee187","name":"","topic":"tdsf/gvm/nac/sensor/vento","qos":"0","retain":"","broker":"462d08fc.d270d8","x":810,"y":480,"wires":[]},{"id":"3e4e5d53.9df542","type":"mqtt out","z":"28078f97.ee187","name":"","topic":"tdsf/gvm/nac/sensor/twitter","qos":"0","retain":"","broker":"462d08fc.d270d8","x":820,"y":580,"wires":[]},{"id":"df90f603.47a1b8","type":"debug","z":"28078f97.ee187","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":490,"y":640,"wires":[]},{"id":"90b942b7.5d378","type":"mqtt in","z":"28078f97.ee187","name":"","topic":"tdsf/gvm/nac/sensor/twitter","qos":"2","datatype":"auto","broker":"462d08fc.d270d8","x":490,"y":940,"wires":[["8f1a5a3b.2ffe98","e7b34007.0ff93"]]},{"id":"1615f997.4b79e6","type":"mqtt in","z":"28078f97.ee187","name":"","topic":"tdsf/gvm/nac/sensor/lumin","qos":"2","datatype":"auto","broker":"462d08fc.d270d8","x":490,"y":880,"wires":[["7a4a261e.afb1d8"]]},{"id":"80dd2229.ed0e2","type":"mqtt in","z":"28078f97.ee187","name":"","topic":"tdsf/gvm/nac/sensor/temperatura","qos":"2","datatype":"auto","broker":"462d08fc.d270d8","x":510,"y":820,"wires":[["b700250.2d1e2d8"]]},{"id":"26b1c819.c0f5b8","type":"mqtt in","z":"28078f97.ee187","name":"","topic":"tdsf/gvm/nac/sensor/vento","qos":"2","datatype":"auto","broker":"462d08fc.d270d8","x":490,"y":760,"wires":[["591cdb83.32b2b4"]]},{"id":"42b4f979.ca68e8","type":"comment","z":"28078f97.ee187","name":"Envia MQTT da Luminosidade","info":"","x":1300,"y":860,"wires":[]},{"id":"71b51b6e.a13a14","type":"comment","z":"28078f97.ee187","name":"Envia MQTT da Temperatura","info":"","x":1300,"y":820,"wires":[]},{"id":"b51fcedf.23396","type":"comment","z":"28078f97.ee187","name":"Envia MQTT do Vento","info":"","x":1080,"y":640,"wires":[]},{"id":"e8eb31ec.7bdd6","type":"comment","z":"28078f97.ee187","name":"Envia MQTT do Twitter","info":"","x":1280,"y":760,"wires":[]},{"id":"451ffd75.4b3c44","type":"comment","z":"28078f97.ee187","name":"COM5","info":"","x":90,"y":360,"wires":[]},{"id":"8f1a5a3b.2ffe98","type":"function","z":"28078f97.ee187","name":"","func":"if (msg.payload.alerta == true){\n    msg = \"Alerta de vento forte\";\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":940,"wires":[["e7747aa4.c894b8"]]},{"id":"e7b34007.0ff93","type":"debug","z":"28078f97.ee187","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":890,"y":1020,"wires":[]},{"id":"f464ff51.4f65d","type":"serial-port","serialport":"COM5","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"69481dd6.fd0184","type":"ui_group","name":"Sensores","tab":"fd8491d.339287","order":1,"disp":true,"width":"15","collapse":false},{"id":"462d08fc.d270d8","type":"mqtt-broker","name":"Servidor-MTQQ","broker":"broker.hivemq.com​","port":"1883","clientid":"clientId-xxbcdY45iB","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"oi joao","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"fd8491d.339287","type":"ui_tab","name":"NAC4","icon":"dashboard","disabled":false,"hidden":false}]