flows.json
[{"id":"a95b578e.ac0d28","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"f364c81e.481e78","type":"serial in","z":"a95b578e.ac0d28","name":"","serial":"71bacb2.6cf7334","x":470,"y":520,"wires":[["6b5d625c.713f6c"]]},{"id":"46b80b40.d7a2f4","type":"debug","z":"a95b578e.ac0d28","name":"Luminosidade","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1040,"y":360,"wires":[]},{"id":"6b5d625c.713f6c","type":"json","z":"a95b578e.ac0d28","name":"","property":"payload","action":"","pretty":false,"x":650,"y":520,"wires":[["33df3e88.641a72","64a4f4cf.128b0c","5e3fa4a4.dc702c"]]},{"id":"33df3e88.641a72","type":"change","z":"a95b578e.ac0d28","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.luminosidade","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":340,"wires":[["46b80b40.d7a2f4","86c77687.98a148"]]},{"id":"86c77687.98a148","type":"ui_gauge","z":"a95b578e.ac0d28","name":"Luminosidade","group":"e36afdf1.f438a","order":0,"width":0,"height":0,"gtype":"gage","title":"Luminosidade","label":"lux","format":"{{value}}","min":"1","max":"999","colors":["#00b500","#e6e600","#ca3838"],"seg1":"33","seg2":"38","x":1040,"y":320,"wires":[]},{"id":"408260cb.d2836","type":"debug","z":"a95b578e.ac0d28","name":"Temperatura","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1050,"y":480,"wires":[]},{"id":"64a4f4cf.128b0c","type":"change","z":"a95b578e.ac0d28","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.temperatura","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":460,"wires":[["408260cb.d2836","fc3481b0.27daf"]]},{"id":"fc3481b0.27daf","type":"ui_gauge","z":"a95b578e.ac0d28","name":"Temperatura","group":"e36afdf1.f438a","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperatura","label":"C°","format":"{{value}}","min":"20","max":"45","colors":["#00b500","#e6e600","#ca3838"],"seg1":"33","seg2":"38","x":1050,"y":440,"wires":[]},{"id":"f01674d1.1c8538","type":"debug","z":"a95b578e.ac0d28","name":"Vento","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1030,"y":600,"wires":[]},{"id":"5e3fa4a4.dc702c","type":"change","z":"a95b578e.ac0d28","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.vento","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":580,"wires":[["f01674d1.1c8538","880bf44c.bcda78"]]},{"id":"880bf44c.bcda78","type":"ui_gauge","z":"a95b578e.ac0d28","name":"Vento","group":"e36afdf1.f438a","order":0,"width":0,"height":0,"gtype":"gage","title":"Vento","label":"km/h","format":"{{value}}","min":"0","max":"80","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1030,"y":560,"wires":[]},{"id":"71bacb2.6cf7334","type":"serial-port","serialport":"COM6","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"e36afdf1.f438a","type":"ui_group","name":"Circuito","tab":"6dca62a9.a63dac","order":1,"disp":true,"width":"6","collapse":false},{"id":"6dca62a9.a63dac","type":"ui_tab","name":"NAC-4","icon":"dashboard","disabled":false,"hidden":false}]